@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
  margin: 0rem;
  padding: 0rem;
}

.app {
  background-color: rgb(94, 94, 94);
  min-height: 100vh;
}

.header {
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 2rem;
  background-color: rgb(145, 255, 0);
  padding-top: 0.6rem;
  padding-bottom: 2.5rem;
  text-shadow: 0.5rem 0.5rem 1.2rem rgb(104, 104, 104);
}

.score-board {
  background-color: rgb(255, 143, 38);
  font-family: 'Orbitron', sans-serif;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 2.2rem;
  border-left: 0.5rem solid rgb(155, 75, 0);
  border-right: 0.5rem solid rgb(155, 75, 0);
  box-shadow: 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 0.801);
}

.game-bord {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: -1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(94, 94, 94);
}

.game-bord img {
  max-width: 7rem;
  margin: 0.5rem;
  border: 0.1rem solid rgb(102, 102, 102);
  box-shadow: 0.1rem 0.1rem 1rem rgb(199, 199, 199);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 752px) {
  .header {
    font-size: 1.5rem;
  }
  .game-bord img {
    max-width: 5rem;
  }
  .score-board {
    max-width: 25rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 591px) {
  .game-bord img {
    max-width: 4.5rem;
  }
}

@media screen and (max-width: 551px) {
  .game-bord img {
    max-width: 4rem;
  }
  .score-board {
    max-width: 20rem;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 511px) {
  .game-bord img {
    max-width: 3.5rem;
  }
}

@media screen and (max-width: 392px) {
  .game-bord img {
    max-width: 3rem;
  }
  .score-board {
    max-width: 17rem;
    font-size: 0.5rem;
  }
}